<div class="shadow-lg container bg-white rounded" id="boards">
    <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 20rem;">
        <div class="card-header">
            <div class="row">
                <div class="col-sm board-title">
                    Board Title
                </div>
                <div class="col-sm new-card">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">New Card</button>
                </div>
                <div class="col-sm hide-cards">
                    <i class="fas fa-caret-down"></i>
                </div>
                <div class="col-sm"></div>
                <div class="col-sm delete-board">
                    <i class="fas fa-trash"></i>
                </div>
            </div>
        <div class="card-body">
            <div class="row">
                <div class="col status-new">New</div>
                <div class="col status-progress">In progress</div>
                <div class="col status-testing">Testing</div>
                <div class="col status-done">Done</div>
            </div>
        </div>
    </div>
</div>
