<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ProMan</title>
        {% include 'header.html' %}
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="row" id="header">
                <h1><img src="{{ url_for('static', filename='favicon/favicon-96x96.png') }}" alt="proman">roMan</h1>
                <div class="ml-auto">
                    <button class="btn btn-secondary btn-lg"><a class="nav-link text-light" href="#" data-toggle="modal" data-target="#staticBackdrop" id="newBoard">New Board</a></button>
                </div>
            </div>
{#            {% include 'board.html' %}#}
{#        </div>#}
        {% include 'modal_login.html' %}
        {% include 'modal_registration.html' %}
    <div id="boards"></div>
    </body>
</html>