<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ProMan</title>
        {% include 'header.html' %}
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="row" id="header">
                <h1>ProMan</h1>
                <div class="ml-auto">
                    <button class="btn btn-secondary btn-lg"><a class="nav-link text-light" href="#" data-toggle="modal" data-target="#staticBackdrop" id="newBoard">New Board</a></button>
                </div>
            </div>
            {% include 'board.html' %}
        </div>
        {% include 'modal.html' %}
    </body>
</html>