<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form name="loginform" action="/login-registration" onsubmit="return validateForm2()" method="post">
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user"></i>
            <label data-error="wrong" data-success="right" for="defaultForm-email" name="username">Your username</label>
          <input type="text" name="username" id="defaultForm-email" class="form-control validate" placeholder="write here...">
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
            <label data-error="wrong" data-success="right" for="defaultForm-pass" name="password">Your password</label>
          <input type="password" name="password" id="defaultForm-pass" class="form-control validate" placeholder="write here...">
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-default" name="action" value="login" >Login</button>
      </div>
        </form>
    </div>
  </div>
</div>
<script>
function validateForm2() {
  let x = document.forms["loginform"]["username"].value;
  let y = document.forms["loginform"]["password"].value;
  if (x == "") {
    alert("Name must be filled out");
    return false;
  }
  else if (y == ""){
      alert("Password field must be filled out");
      return false;
  }
}
</script>